<div class="container">
  <div class="row">
    <div class="text1">
      <h2><span>マイページ</span></h2>
    </div>
    <div class="col-mg-3">
      <h2>登録情報（リンク未実装）</h2>
    </div>
    <div class="col-mg-3">
      <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
      	 <%= link_to '編集する', edit_admin_customer_path(@customer) %>
      </button>
    </div>
    <br>
    <div class="col-mg-3">
      <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
      	<%= link_to 'パスワードを設定する', customer_path(@customer) %>
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table table-bordered">
    	<tbody>
    		<tr>
    			<th>氏名</th>
    			<td>
    			  <%= @customer.first_name %><%= @customer.last_name %>
    			</td>
    		</tr>
    		<tr>
    			<th>カナ</th>
    			<td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
    		</tr>
    		<tr>
    			<th>郵便番号</th>
    			<td><%= @customer.postal_code %></td>
    		</tr>
    		<tr>
    			<th>住所</th>
    			<td><%= @customer.address %></td>
    		</tr>
    		<tr>
    			<th>電話番号</th>
    			<td><%= @customer.telephone_number %></td>
    		</tr>
    		<tr>
    			<th>メールアドレス</th>
    			<td><%= @customer.email %></td>
    		</tr>
    	</tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-mg-2">
      <h2>配送先（リンク未実装）</h2>
    </div>
    <div class="col-mg-2">
      <div class="actions">
        <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
        	一覧を見る
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-mg-2">
      <h2>注文履歴（リンク未実装）</h2>
    </div>
    <div class="col-mg-2">
      <div class="actions">
        <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
        	一覧を見る
        </button>
      </div>
    </div>
  </div>
</div>