  <div class="container">
    <h2><span><%= @customer.first_name %>さんの会員情報</span></h2>
    <div class="row">
      <div class="col-xs-3">
        <p>会員ID</p>
      </div>
      <div class="col-xs-1">
        <%= @customer.id %>
      </div>
      <div class="col-xs-3">
        <% if @customer.is_deleted == false %>
          <p>有効会員</p>
        <% else %>
          <p>会員じゃねーよ</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <p>氏名</p>
      </div>
      <div class="col-xs-3">
        <%= @customer.last_name %><%= @customer.first_name %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <p>フリガナ</p>
      </div>
      <div class="col-xs-3">
        <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <p>郵便番号</p>
      </div>
      <div class="col-xs-3">
        <%= @customer.postal_code %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <p>住所</p>
      </div>
      <div class="col-xs-3">
        <%= @customer.address %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <p>電話番号</p>
      </div>
      <div class="col-xs-3">
        <%= @customer.telephone_number %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <p>メールアドレス</p>
      </div>
      <div class="col-xs-3">
        <%= @customer.email %>
      </div>
    </div>
    <div class="row">
      <%= link_to '編集する', edit_admin_customer_path(@customer.id), class:"btn btn-primary active" %>
      <%= link_to '注文履歴一覧を見る', admin_orders_path, class:"btn btn-primary active" %>
    </div>
  </div>