<div class="container">
  <h2><span>配送先編集</span></h2>
    <%= form_with url:address_path(@address), method: :patch, model:@address, local:true do |f| %>
      <div class="row">
        <div class="col-xs-3">
          <p>郵便番号（ハイフンなし）</p>
        </div>
        <div class="col-xs-4">
          <%= f.text_field :postal_code, autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <p>住所</p>
        </div>
        <div class="col-xs-4">
          <%= f.text_field :address, autofocus: true  %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <p>宛名</p>
        </div>
        <div class="col-xs-4">
          <%= f.text_field :name, autofocus: true %>
        </div>
      </div>
      <%= f.submit "編集する", class:"btn btn-success pull-right" %>
    <% end %>
</div>