<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
      <div class="page-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <p>logo</p>
            </div>
              <div class="col-xs-8">
                <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                  <!--ここからECの時の表示-->
                  <% if customer_signed_in? %>
                    <li class="">
                      ようこそ、<%= current_customer.last_name %>さん
                    </li>
                    <li class="">
                      <%= link_to 'マイページ', customer_path(current_customer.id), class: "glyphicon glyphicon-home"  %>
                    </li>
                    <li class="">
                      <%= link_to '商品一覧(item未実装)', about_path, class: "glyphicon glyphicon-user" %>
                    </li>
                    <li class="">
                      <%= link_to 'カート(cart未実装)', about_path, class: "glyphicon glyphicon-book" %>
                    </li>
                    <li class="">
                      <%= link_to "ログアウト", destroy_user_session_path, class: "glyphicon glyphicon-log-out", method: :delete %>
                    </li>
                  <% else %>
                    <li class="">
                      <%= link_to "About", about_path, class: "glyphicon glyphicon-home" %>
                    </li>
                    <li class="">
                      <%= link_to "商品一覧(商品一覧未実装)", about_path, class: "glyphicon glyphicon-link" %>
                    </li>
                    <li class="">
                      <%= link_to "新規登録", new_customer_registration_path, class: "glyphicon glyphicon-edit" %>
                    </li>
                    <li class="">
                      <%= link_to "ログイン", new_customer_session_path, class: "glyphicon glyphicon-log-in" %>
                    </li>
                  <% end %>
                </ul>
                <!--ECの時の表示-->
            </div>
          </div>
        </div>
      </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="container" style="solid: 1px black;">
    </div>
    <p>フッター</p>
  </footer>
</html>
